.card {
  width: 330px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow: hidden;
}

.image_wrapper {
  width: 100%;
  height: 200px;
  position: relative;
}

.image_wrapper .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}

.content {
  padding: 20px;
}

.title {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.description {
  margin: 10px 0 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.author,
.date {
  font-size: 15px;
  margin: 3px 0;
  color: #646464;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.readmore {
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #0000ffa8;
}

@media (max-width: 500px) {
  .card {
    width: 90%;
  }
}
